

/* mobile version */
body {
    width: 767px;
    height: 480px;
}

.box { 
  height: 75px; 
  width: 480px; 
  padding: 15px 15px 15px 15px; 
  margin: 0px auto 0px auto; 
  display: block; 
  background: #808080; 
  color: #000000; 
  border-top: 0px; 
  border-left: 1px; 
  border-right: 1px; 
  border-bottom: 1px; 
  border-color: #000000; 
  border-style: solid; 
 
}

.box2 { 
    height: 150px; 
    width: 480px; 
    padding: 15px 15px 15px 15px; 
    margin: 0px auto 0px auto; 
    display: block; 
    background: #808080; 
    color: #000000; 
    border-top: 0px; 
    border-left: 1px; 
    border-right: 1px; 
    border-bottom: 1px; 
    border-color: #000000; 
    border-style: solid; 
   
  }

  .box3 { 
    height: 125px; 
    width: 480px; 
    padding: 15px 15px 15px 15px; 
    margin: 0px auto 0px auto; 
    display: block; 
    background: #808080; 
    color: #000000; 
    border-top: 0px; 
    border-left: 1px; 
    border-right: 1px; 
    border-bottom: 1px; 
    border-color: #000000; 
    border-style: solid; 
   
  }

  .box4 { 
    height: 125px; 
    width: 480px; 
    padding: 15px 15px 15px 15px; 
    margin: 0px auto 0px auto; 
    display: block; 
    background: #808080; 
    color: #000000; 
    border-top: 0px; 
    border-left: 1px; 
    border-right: 1px; 
    border-bottom: 1px; 
    border-color: #000000; 
    border-style: solid; 
   
  }

  .box5 { 
    height: 250px; 
    width: 240px; 
    padding: 15px 15px 15px 15px; 
    margin: -1px -43px 0px 92px; 
    display: inline-block; 
    background: #808080; 
    color: #000000; 
    border-top: 0px; 
    border-left: 1px; 
    border-right: 1px; 
    border-bottom: 1px; 
    border-color: #000000; 
    border-style: solid; 
    position: relative;
   
  }

  .box6 { 
    height: 250px; 
    width: 240px; 
    padding: 15px 15px 15px 15px; 
    margin: -1px -43px 0px 92px; 
    display: inline-block; 
    background: #808080; 
    color: #000000; 
    border-top: 0px; 
    border-left: 1px; 
    border-right: 1px; 
    border-bottom: 1px; 
    border-color: #000000; 
    border-style: solid; 
    
  }

  .box7 { 
    height: 250px; 
    width: 240px; 
    padding: 15px 15px 15px 15px; 
    margin: 0px auto 0px auto; 
    display: inline-block; 
    background: #808080; 
    color: #000000; 
    border-top: 0px; 
    border-left: 1px; 
    border-right: 1px; 
    border-bottom: 1px; 
    border-color: #000000; 
    border-style: solid; 
   
  }

  .box8 { 
    height: 250px; 
    width: 240px; 
    padding: 15px 15px 15px 15px; 
    margin: -1px -43px 0px 92px; 
    display: inline-block; 
    background: #808080; 
    color: #000000; 
    border-top: 0px; 
    border-left: 1px; 
    border-right: 1px; 
    border-bottom: 1px; 
    border-color: #000000; 
    border-style: solid; 
  }

  .box9 { 
    height: 80px; 
    width: 480px; 
    padding: 15px 15px 15px 15px; 
    margin: 0px auto 0px auto; 
    display: block; 
    background: #808080; 
    color: #000000; 
    border-top: 0px; 
    border-left: 1px; 
    border-right: 1px; 
    border-bottom: 1px; 
    border-color: #000000; 
    border-style: solid; 
   
  }